{{!
  Copyright (c) HashiCorp, Inc.
}}

<div class='cut-list-item-template' ...attributes>
  {{yield (hash Section=(component 'cut/list-item/section'))}}
  <div>
    {{yield
      (hash
        Badge=(component 'hds/badge' size='small')
        Icon=(component 'hds/icon' size=16)
      )
    }}
  </div>
  {{yield (hash SecondSection=(component 'cut/list-item/section'))}}
</div>