<div class="cut-list-item-template">
  {{yield (hash Label=(component 'cut/list-item/label'))}}
  <div>{{yield (hash
                 Badge=(component 'hds/badge' size='small')
                 FlightIcon=(component "flight-icon" size=16)
               )}}
  </div>
  {{yield (hash Label2=(component 'cut/list-item/label'))}}
</div>