<PageHeader
  @title="Service List Item"
  @github="https://github.com/hashicorp/consul-ui-toolkit/tree/main/toolkit/src/components/cut/list-item/service"
  @status="development"
>
  The Service List Item is a wrapper of the List Item and List Item Template
  components that takes data from a service and generates a List Item with the
  appropriate information and formatting.
</PageHeader>
<div class="doc-Page">
  <div class="doc-Page-content">
    <p>foo bar</p>
  </div>
  <InPageNav as |I|>
    <I.Link @section="">Examples</I.Link>
    <I.Link @section="#component-api">Component API</I.Link>
  </InPageNav>
</div>