{{!
  Copyright (c) HashiCorp, Inc.
}}

<aside class="docs-InPageNav">
  <h4 class="docs-InPageNav-label">On this page</h4>
  <nav>
    <ul>
      {{yield (hash Link=(component "in-page-nav/link"))}}
    </ul>
  </nav>
</aside>