{{!
  Copyright (c) HashiCorp, Inc.
}}

<div
  class='cut-text-with-icon hds-typography-body-100 hds-font-weight-regular'
  ...attributes
>
  <Hds::Icon @name={{@icon}} @color={{@iconColor}} />
  <div>{{@text}}</div>
  {{#if @connection}}
    <div class='cut-text-with-icon__connection'>{{@connection}}</div>
  {{/if}}
</div>