{{!
  Copyright (c) HashiCorp, Inc.
}}

<div class="text-with-icon-container">
  <FlightIcon @name={{@icon}} @size="16"/>
  <div>{{@text}}</div>
  {{#if @connection}}
    <div class="text-with-icon--connection">{{@connection}}</div>
  {{/if}}
</div>