<div class='cut-filter-bar-generic'>
  {{yield
    (hash
      toggle=@toggle
      softToggle=@softToggle
      applyFilter=@applyFilter
      config=@config
      localConfig=@localConfig
    )
  }}
</div>