{{!
  Copyright (c) HashiCorp, Inc.
}}
<div class="cut-list-item {{if (or @route @href @onClick) 'hds-surface-mid' 'hds-surface-base'}}" ...attributes>
  {{yield (hash Content=(component "cut/list-item/content"
    href=@href
    isRouteExternal=@isRouteExternal
    route=@route
    isHrefExternal=@isHrefExternal
    query=@query
    replace=@replace
    onClick=@onClick))}}
  {{yield (hash Action=(component "cut/list-item/action"))}}
  <div>
    {{yield
      (hash ActionButton=(component "hds/button" size="small")
        ActionDropdown=(component "hds/dropdown")
        ActionGeneric=(component "cut/list-item/action-generic")
      )}}
  </div>
</div>