@import '@hashicorp/design-system-components';
.cut-list-item-template {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cut-list-item-template .title-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.cut-list-item-template--title {
  @extend .hds-typography-body-300;
  @extend .hds-font-weight-semibold;
  display: flex;
  gap: 8px;
  align-items: center;
}

.cut-list-item-template--metadata {
  @extend .hds-typography-body-200;
  @extend .hds-font-weight-regular;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;


  color: var(--token-color-palette-neutral-500);
}
