name: Changelog Check

on:
  pull_request:
    types: [synchronize, opened, reopened, labeled, unlabeled]
    branches-ignore:
      - 'changeset-release/main'

concurrency:
  group: changelog-check-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  changelog-checker:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'pr/no-changeset') }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        # referencing issue: https://github.com/changesets/changesets/issues/517#issuecomment-1182094769
        with:
          ref: ${{github.event.pull_request.head.sha}}
          fetch-depth: 0
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Check if changeset is required and present
        run: yarn changeset status --since origin/main
